@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', Helvetica, Arial, Lucida, sans-serif;
}

a {
  text-decoration: none !important;
}

.loader-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.8);
  /* Light background to cover content */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100000;
  /* Ensure it appears above other content */
}

.mt-top {
  margin-top: 160px;
}

.m-h-100 {
  min-height: 100vh;
}

.m-h-75 {
  min-height: 75vh;
}

.m-h-50 {
  min-height: 50vh;
}

.banner-space {
  padding: 150px 0px;
}

.common-space {
  padding: 80px;
}

.bg-little-dark {
  background-color: #f8f7f6;
}

.bg-orng {
  background-color: #F2714D;
}

.d-clr {
  color: #666666;
}

.c-clr {
  color: #59C4C4;
}

.bg-clr {
  background-color: #59C4C4;
}

.common-title {
  font-weight: 600;
  font-size: 52px;
  line-height: 70px;
  color: #666;
}

.common-sm-title {
  font-weight: 700;
  font-size: 35px;
  line-height: 70px;
  color: #666;
}

.common-text {
  margin: 10px 0px;
  color: #666;
  font-size: 20px;
  line-height: 30px;
  font-weight: 400;
}

.border-btn {
  color: #59C4C4;
  background-color: #fff;
  border: 2px solid #59C4C4;
  border-radius: 20px;
  padding: 10px 25px;
  text-decoration: none;
  font-weight: 600;
  font-size: 17px;
  text-transform: uppercase;
  transition: 0.5s ease;
}

.border-btn:hover {
  background-color: #59C4C4;
  color: #fff;
}

.logo {
  width: 120px;
}

.open-nav {
  display: none;
}

.cart-btn {
  margin-left: 20px;
  font-size: 30px;
  color: #59C4C4;
  position: relative;
}

.cart-number {
  position: absolute;
  top: -5px;
  right: -10px;
  text-align: center;
  font-size: 12px;
  color: #fff;
  background-color: #59C4C4;
  padding: 2px 6px;
  border-radius: 50%;
}

.categories {
  position: fixed;
  top: 110px;
  box-shadow: 0 7px 7px rgba(0, 0, 0, 0.1) !important;
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 10px 5px;
  z-index: 10;
  background-color: #fff;
  transition: 0.5s ease;
}



.navbar-right {
  position: relative;
}


.dropdown-content {
  display: none;
  padding: 0px 10px;
  position: absolute;

  top: 32px;
  left: 110px;
  z-index: 1;
}

.active {
  color: #59C4C4 !important;

}

.search-form {
  display: flex;
  align-items: center;
  justify-content: center;
  /* Center the search form if needed */
}

.search-input-wrapper {
  display: flex;
  align-items: center;
  background-color: #59C4C4;
  /* Set the background color */
  border-radius: 5px;
  overflow: hidden;
  /* Ensures button and input stay within borders */
}

.search-input {
  padding: 10px 15px;
  border: none;
  background-color: #fff;
  /* Background color matches the wrapper */
  width: 300px;
  /* Increased width */
  outline: none;
  border: 1px solid #e5e5e5;
}



.search-button {
  padding: 10px 15px;
  border: none;
  background-color: #59C4C4;
  /* Search button background color */
  color: white;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-button:hover {
  background-color: #59C4C4;
  /* Darker shade on hover */
}

.search-button svg {
  width: 25px;
  height: 25px;
}



.nav-link {
  text-decoration: none !important;
  position: relative;
  font-weight: 500 !important;
  font-size: 18px !important;
  margin: 0px 18px;
  color: #666 !important;
}

.nav-link-nhv {
  text-decoration: none !important;
  font-weight: 500 !important;
  font-size: 13.5px !important;
  padding: 5px;
  color: #666 !important;
  transition: 0.5s;

}

.nav-link-nhv:hover {
  color: #59C4C4 !important;
}

.nav-link::after {
  content: '';
  width: 0%;
  height: 3px;
  background: #59C4C4;
  position: absolute;
  left: 0;
  bottom: -6px;
  transition: 0.5s;
}

.nav-link:hover {
  color: #59C4C4 !important;
}

.nav-link:hover::after {
  width: 100%;

}


.navbarr {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  padding: 5px 60px;
  position: fixed;
  z-index: 40;
  top: 0;
  left: 0;
  right: 0;
  /* box-shadow: 0 0 7px rgba(0, 0, 0, .1) !important; */
}



.navbar-left,
.navbar-right {
  display: flex;
  align-items: center;
}

.open-nav {
  display: none;
}

.dropdown-menu-c {
  width: 90vw;
  position: absolute;
  display: none;
  left: 5%;
  right: 5%;
  list-style: none;
  box-shadow: 0 0 7px rgba(0, 0, 0, .1) !important;
  background-color: #fff;
  z-index: 20;
  padding-left: 0px !important;
  flex-wrap: wrap;
  justify-content: space-between;
}

.dropdown-menu-c li {
  padding: 5px 10px;
  width: 33%;
}

.dropdown-menu-c li a {
  text-decoration: none !important;
  font-weight: 500 !important;
  font-size: 18px !important;
  margin: 5px 10px;
  color: #666 !important;
}

.dropdown-main:hover .dropdown-menu-c {
  display: flex;
}

.acc-circle {
  background-color: #59C4C4;
  height: 45px;
  width: 45px;
  color: #fff;
  border-radius: 100px;
  margin-left: 40px;
  font-size: 20px;
  line-height: 30px;
}

.custom-dropdown-menu {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: white;
  border-radius: 4px;
  list-style: none;
  padding: 10px;
  margin: 0;
  min-width: 150px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  z-index: 999;
}

.custom-dropdown-item {
  padding: 10px;
  color: #333;
  text-decoration: none;
  display: block;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.custom-dropdown-item:hover {
  background-color: #f1f1f1;
}

.common-nav-right {
  text-decoration: none;
  padding: 11px 25px;
  font-size: 16px;
  font-weight: 700;
  line-height: 19.5px;
  text-align: center;
  border-radius: 30px;
  color: #fff;
  border: 2px solid #59C4C4;
  background-color: #59C4C4;
  transition: 0.5s ease;
}

.common-nav-right:hover {
  background-color: #fff;
  color: #59C4C4;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 20px;
  cursor: pointer;
  color: black;
  font-size: 25px;
  display: none;
}

.close-btn-cat {
  position: absolute;
  top: 10px;
  right: 20px;
  cursor: pointer;
  color: black;
  font-size: 25px;
  display: none;
}

.contact-btn {
  background: rgba(125, 106, 233, 1);
  color: rgba(255, 255, 255, 1);
  margin-left: 30px;
}

.contact-btn:hover {
  color: rgba(125, 106, 233, 1);
  background-color: #fff;
  transition: 0.6s ease;

}

/* navbar  */
/* swiper  */
.slick-prev:before,
.slick-next:before {

  font-size: 48px;
}

.slick-prev::after,
:where(.css-dev-only-do-not-override-1uq9j6g).ant-carousel .slick-next::after {
  display: none !important;
}

.slick-prev:before,
.slick-next:before {
  opacity: 1;
}

:where(.css-dev-only-do-not-override-1uq9j6g).ant-carousel .slick-prev,
:where(.css-dev-only-do-not-override-1uq9j6g).ant-carousel .slick-next {
  opacity: 1;
}

:where(.css-dev-only-do-not-override-1uq9j6g).ant-carousel .slick-next {
  inset-inline-end: 85px;
}

:where(.css-dev-only-do-not-override-1uq9j6g).ant-carousel .slick-prev {
  inset-inline-start: 48px;
}

.swiper {
  padding: 40px;
}

.swiper-slide {
  min-height: 300px !important;
  overflow: visible !important;
  background-color: #FFFFFF;
  border-radius: 8px 8px 8px 8px;
  overflow: hidden;
  border-width: 1px;
  border-color: #f9f9f9;
  box-shadow: 0px 4px 12px 2px rgba(204, 204, 204, 0.26);
}

.testimonial-img {
  display: flex;
  justify-content: center;
  margin-bottom: 17px;
}

.swiper-desc {
  font-size: 15px;
  color: #666666;
  text-align: center;
  padding: 2px 15px;
}

.testimonial-img img {
  height: 90px;
  width: 90px;
  max-width: 100%;
  opacity: 1;
  display: block;
  -ms-flex-item-align: center;
  align-self: center;
  border-radius: 100%;
}

.swiper-button-prev::after {
  font-size: 22px;
}

.swiper-button-next::after {
  font-size: 22px;
}

.nature-icon {
  font-size: 30px;
  display: flex;
  padding: 0px 20px;
}

/* products  */
.dis-products-sub {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px;
}

.prod-card {
  width: 24%;
  background-color: rgb(255, 255, 255);
  min-height: 150px;
  box-shadow: 0px 2px 20px 0px rgba(150, 150, 150, 0.34) !important;
  border-radius: 20px;
  margin-bottom: 30px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}

.prod-card img {
  width: 100%;
  padding: 20px 10px 0px 10px;
}

.discount-num {
  position: absolute;
  background-color: #59C4C4;
  color: #fff;
  height: 50px;
  width: 50px;
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 1%;
  left: 1%;
  font-size: 15px;
  font-weight: 700;
}

.videos-sub {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  flex-wrap: wrap;
}

.video-card {
  width: 32%;
}

.stars-main {
  display: flex;
  justify-content: center;
  gap: 4px;
}

.stars-main svg {
  color: #59C4C4;
  font-size: 30px;
}

.brand-img {
  width: 200px;
  margin: 0px 15px;
}

/* Demo */
.demo-sec {
  background-image: linear-gradient(180deg, #59C4C4 6%, #336E7B 100%) !important;
  padding: 80px 0px !important;
  min-height: auto !important;
  position: relative;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.wave {
  background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIzNnB4IiB2aWV3Qm94PSIwIDAgMTI4MCAxNDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGcgZmlsbD0iI2ZmZmZmZiI+PHBhdGggZD0iTTAgNTEuNzZjMzYuMjEtMi4yNSA3Ny41Ny0zLjU4IDEyNi40Mi0zLjU4IDMyMCAwIDMyMCA1NyA2NDAgNTcgMjcxLjE1IDAgMzEyLjU4LTQwLjkxIDUxMy41OC01My40VjBIMHoiIGZpbGwtb3BhY2l0eT0iLjMiLz48cGF0aCBkPSJNMCAyNC4zMWM0My40Ni01LjY5IDk0LjU2LTkuMjUgMTU4LjQyLTkuMjUgMzIwIDAgMzIwIDg5LjI0IDY0MCA4OS4yNCAyNTYuMTMgMCAzMDcuMjgtNTcuMTYgNDgxLjU4LTgwVjBIMHoiIGZpbGwtb3BhY2l0eT0iLjUiLz48cGF0aCBkPSJNMCAwdjMuNEMyOC4yIDEuNiA1OS40LjU5IDk0LjQyLjU5YzMyMCAwIDMyMCA4NC4zIDY0MCA4NC4zIDI4NSAwIDMxNi4xNy02Ni44NSA1NDUuNTgtODEuNDlWMHoiLz48L2c+PC9zdmc+);
  background-size: 100% 36px;
  top: 0;
  height: 36px;
  z-index: 1;
  transform: scale(1, 1);
  display: block;
  background-repeat: no-repeat;
  height: 100%;
  position: absolute;
  pointer-events: none;
  width: 100%;
  left: 0;
  right: 0;
}

.wave-bottom {
  background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxNjBweCIgdmlld0JveD0iMCAwIDEyODAgMTQwIiBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJub25lIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxnIGZpbGw9IiNmZmZmZmYiPjxwYXRoIGQ9Ik0wIDE0MGgxMjgwQzU3My4wOCAxNDAgMCAwIDAgMHoiIGZpbGwtb3BhY2l0eT0iLjMiLz48cGF0aCBkPSJNMCAxNDBoMTI4MEM1NzMuMDggMTQwIDAgMzAgMCAzMHoiIGZpbGwtb3BhY2l0eT0iLjUiLz48cGF0aCBkPSJNMCAxNDBoMTI4MEM1NzMuMDggMTQwIDAgNjAgMCA2MHoiLz48L2c+PC9zdmc+);
  background-size: 100% 160px;
  bottom: 0;
  height: 160px;
  z-index: 1;
  transform: scale(1, 1);
  display: block;
  background-repeat: no-repeat;
  position: absolute;
  pointer-events: none;
  width: 100%;
  left: 0;
  right: 0;
}

.wave-top {
  background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIyNTBweCIgdmlld0JveD0iMCAwIDEyODAgMTQwIiBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJub25lIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxnIGZpbGw9IiNmZmZmZmYiPjxwYXRoIGQ9Ik0wIDE0MGgxMjgwQzU3My4wOCAxNDAgMCAwIDAgMHoiIGZpbGwtb3BhY2l0eT0iLjMiLz48cGF0aCBkPSJNMCAxNDBoMTI4MEM1NzMuMDggMTQwIDAgMzAgMCAzMHoiIGZpbGwtb3BhY2l0eT0iLjUiLz48cGF0aCBkPSJNMCAxNDBoMTI4MEM1NzMuMDggMTQwIDAgNjAgMCA2MHoiLz48L2c+PC9zdmc+);
  background-size: 100% 250px;
  top: 0;
  height: 250px;
  z-index: 1;
  transform: scale(1, -1);
  display: block;
  position: absolute;
  pointer-events: none;
  width: 100%;
  left: 0;
  right: 0;
}

.demo-btn {
  padding: 10.5px 25px;
  background-image: linear-gradient(90deg, #f2714d 0%, #af243e 100%);
  color: #ffffff !important;
  border-width: 0px !important;
  border-radius: 22px;
  font-size: 16px;
  font-family: 'Open Sans', Helvetica, Arial, Lucida, sans-serif !important;
  font-weight: 700 !important;
  text-transform: uppercase !important;
  text-decoration: none;

}

.slick-list {
  padding: 10px;
}

.slick-slider {
  overflow: hidden;
}

.web-card {
  width: 93%;
  padding: 0%;
  background-color: rgb(255, 255, 255);
  height: auto;
  box-shadow: 0px 2px 20px 0px rgba(150, 150, 150, 0.34) !important;
  border-radius: 20px;
  transition: 0.5s ease;
  cursor: pointer;
}

.web-card:hover {
  transform: scale(1.05);
}

.web-card img {
  border-radius: 20px;
  height: 230px;
}



.card-title {
  text-transform: uppercase;
  font-size: 17px;
  color: #666 !important;
  font-weight: bold;
  padding: 0px 20px;
  margin: 10px 0px 0px 0px;

}

.card-text {
  text-transform: uppercase;
  font-size: 16px;
  color: #666 !important;
  line-height: 1.88em;
  padding: 0px 20px;
  /* margin: 10px 0px 10px 0px; */
  margin: 0;
}

.card-btn-main {
  font-size: 16px;
  text-transform: uppercase;
  line-height: 1.88em;
  color: #59C4C4;
  font-weight: 700;
  padding-left: 20px;
  padding-right: 30px;
  margin-bottom: 0;
  padding-bottom: 37px;
}

.card-btn-sub {
  position: relative;
  font-size: 15px;
  padding: 9px 18px;
  border-radius: 22px !important;
  background-color: #59C4C4;
  color: white !important;
  font-weight: 700 !important;
  text-transform: uppercase;
  line-height: 1em !important;
  top: 7px;
  transition: all 0.2s ease-out;
  text-decoration: none;
  border: 2px solid #59C4C4;
}

.card-btn-sub:hover {
  color: #59C4C4 !important;
  background-color: #fff;
}

/* modal  */
.modal-inp {
  border: none !important;
  border-bottom: 3px solid #666 !important;
  color: #9e9e9e !important;
  padding: 12px !important;
  background-color: #fcfcfc;
  line-height: 1.3em;
  width: 100% !important;
  outline-style: none;
  font-size: 15px;
  font-weight: 500;
  display: inline;
  box-sizing: border-box;
  margin: 0 0 15px 0 !important;
  box-shadow: none !important;
  border-radius: 0;
}

option {
  color: #666;
  padding: 0px 10px;
}

/* contact  */
.contact-card-main {
  display: flex;
  justify-content: space-between;

}

.contact-card {
  box-shadow: 0 0 7px rgba(0, 0, 0, .1) !important;
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #fff;
  border-radius: 10px;
  padding: 10px 0px 30px 0px;
}

.contact-card-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  padding: 25px;
  color: #fff;
  font-size: 30px;
  margin: 20px 0px;
}

.contact-card-title {
  font-size: 24px;
  color: #666666 !important;
  line-height: 1.88em;
  font-weight: bold;
  margin: 10px 0px;
}

.contact-card p {
  line-height: 1.88em;
}

/* idx  */
.kyc-screen {
  min-height: 55vh;
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 20px;
  margin: 10px auto;
}

.common-prop {
  border-radius: 50px;
  background: #FFF;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.10);
}





/* footer  */
.ftr-logo {
  width: 150px;
  margin-bottom: 40px;
}

.ftr-small-title {
  font-weight: bold;
  font-style: normal;
  text-transform: none;
  text-decoration: none;
  font-size: 15px;
  color: #666666;
  margin-bottom: 21px !important;
}


.ftr-link a {
  text-decoration: none;
  font-size: 16px;
  color: #666;
  display: inline-block;
  position: relative;
  transition: color 0.35s ease-out;
  line-height: 40px;
}

.ftr-link a::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 1.7px;
  bottom: 5px;
  left: 0;
  background-color: #59C4C4;
  transform-origin: bottom right;
  transition: transform 0.35s ease-out;
}

.ftr-link a:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.ftr-link a:hover {
  color: #59C4C4;
}

.social-icons a {
  color: #666;
  font-size: 20px;
  margin: 6px;
}

/* products details  */

.user-prod-main {
  display: flex;
  justify-content: space-between;
  padding: 0px 20px;
}

.user-prod-left {
  width: 49%;
}

.user-prod-right {
  width: 49%;
}

.user-prod-left img {
  max-width: 100%;
}

.user-prod-right-title {
  font-size: 19px;
  color: #666 !important;
  font-weight: bold;
  margin: 30px 0px 0px 0px;
}

.user-prod-right-text {
  font-size: 16px;
  color: #666 !important;
  line-height: 1.88em;
  margin: 10px 0px 10px 0px;
}

.user-product-sub-details {
  border: 1px solid #333;
  padding: 10px;
  border-radius: 4px;
  margin: 40px 0px 10px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.user-product-sub-detail {
  width: 32%;
  margin-bottom: 10px;
}

.category-title {
  color: #666 !important;
  font-size: 34px;
  padding: 40px 20px 10px 20px;
}

.pagination-btn {
  text-decoration: none;
  padding: 11px 25px;
  font-size: 16px;
  font-weight: 700;
  line-height: 19.5px;
  text-align: center;
  border-radius: 30px;
  color: #fff;
  border: 2px solid #59C4C4;
  background-color: #59C4C4;
  transition: 0.5s ease;
}

.pagination {
  margin: 20px;
  display: flex;
  align-items: center;
}

.page-info-category {
  padding: 0px 20px;
}

.search-title {

  font-size: 35px;
  color: #666 !important;
  font-weight: bold;
  padding: 30px;

}

.empty-cart {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.empty-cart img {
  width: 250px;
}

.cart-container {
  padding: 30px 60px;
  background-color: #a1d9f354;
  border-radius: 20px;
  min-height: 80vh;
}

.cart-title {

  font-size: 30px;
  color: #666 !important;
  font-weight: bold;
  margin-bottom: 0px;
}

.cart-text {
  font-size: 20px;
  color: #666 !important;
  line-height: 1.88em;

}

.cart-item-text {
  font-size: 16px;
  color: #666 !important;
  margin-bottom: 0px !important;
}

.cart-sub {
  background-color: #fff;
  border-radius: 20px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
}

.cart-sub-left {
  width: 76%;
  display: flex;
  flex-direction: column;
}

.cart-item {
  display: flex;
  align-items: center;
  padding: 30px 0px;
  border-bottom: 1px solid #333;
}

.remove-cart-btn {
  position: absolute;
  color: #af243e;
  border: none;
  font-size: 30px;
  background-color: transparent;
  left: 3px;
  top: -25px;
}

.cart-item-image {
  width: 24%;
  position: relative;
}

.cart-item-image img {
  width: 200px;
}

.cart-item-details {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}

.cart-item-details>*:first-child {
  flex-basis: 40%;
}

.cart-item-details>*:nth-child(2),
.cart-item-details>*:nth-child(3) {
  flex-basis: 30%;
}

.cart-sub-right {
  width: 22%;
  border: 1px solid #666;
  padding: 20px;
  border-radius: 10px;

  height: 100%;
}

.cart-sub-right h4 {
  color: #666;
}

.quantity-controls {
  display: flex;
  align-items: center;
  gap: 10px;
}

.cart-q-btn {
  color: #666;
  border: 1px solid #666;
  height: 30px;
  width: 30px;
  border-radius: 5px;
  font-size: 18px;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
}

.order-table {
  width: 100%;
  border-collapse: collapse;
}

.order-table th,
.order-table td {
  width: 22%;
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.order-table th {
  background-color: #f4f4f4;
  font-weight: bold;
}

.open-category {
  display: none;
}

.desktop-main {
  display: flex;
  justify-content: space-between;
  background-color: #666;
  /* align-items: center; */
}

.desktop-item {
  width: 24%;
  margin: 0.5%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  flex-wrap: wrap;
  flex-direction: column;
  margin-bottom: 20px;
}

.desktop-btn {
  width: 90%;
  padding: 10px;
  background: #59C4C4;
  color: #fff;
  text-align: center;
  font-size: 19px;
  border-radius: 2px;
}

.notebook-link {
  font-size: 17px;
  font-weight: 500;
  color: #fff;
  display: flex;
  align-items: center;
  border-top: 1px solid #ffffff;
  padding: 5px 0px;
  margin-bottom: 5px;
}

.notebook-link-sm {
  font-size: 15px;
  color: #e2e2e2;
  display: flex;
  align-items: center;
  padding: 5px 0px;
}

.notebook-icon {
  height: 10px;
  width: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #333;
  background-color: #fff;
  border-radius: 100px;
  margin-right: 10px;
  font-size: 8px;
}

.notebook-main {
  display: flex;
  justify-content: space-between;
  background-color: #666;
  width: 100%;
  padding: 20px;
}

.notebook-item {
  width: 33%;
  margin: 0.5%;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  flex-direction: column;

}

.components-main {
  display: flex;
  justify-content: space-between;
  background-color: #666;
  width: 100%;
  padding: 20px;
}

.components-item {
  width: 16%;
}

.components-link {
  font-size: 18px;
  font-weight: 500;
  color: #fff;

}

.components-link-sm {
  font-size: 14px;
  color: #e2e2e2;
  display: flex;
  align-items: center;
  padding: 2px 0px;
}

.cases-item {
  width: 33%;
}

.peripheral-item {
  width: 20%;
}

@media only screen and (max-width: 1000px) {
  .categories {
    padding-top: 30px;
  }

  .nav-link-nhv {
    margin: 13px 10px 10px 5px;
  }

  .common-title {
    font-size: 35px;
  }
}

@media only screen and (max-width: 950px) {
  .categories {
    height: 100%;
    width: 280px;
    justify-content: start;
    flex-direction: column;
    left: -280px;
    z-index: 50;
    top: 0px;
  }

  .cat-open {
    left: 0px;
  }

  .open-category {
    display: flex;
    color: #59C4C4;
    position: absolute;
    top: 130px;
    left: 10px;
    font-size: 25px;
    border: none;
    background: transparent;
  }

  .close-btn-cat {
    display: block;
    border: none;
    background: none;
  }

  .prod-card {
    width: 32.5%;
  }

  .card-title {
    margin: 5px 0px 0px 0px;
  }

  .common-space {
    padding: 40px;
  }
}

@media only screen and (max-width: 762px) {
  .common-space {
    padding: 20px;
  }

  .open-nav {
    /* display: block; */
    font-weight: bolder;
    font-size: 25px;
    color: #59C4C4;
  }

  .close-btn {
    /* display: block; */
  }

  #sidemenu {
    background-color: hsl(225 31% 10%);
    align-items: flex-start;
    flex-direction: column;
    display: flex;
    position: fixed;
    top: 0;
    right: -250px;
    height: 100%;
    width: 250px;
    padding-top: 75px;
    transition: 0.3s;
    color: #59C4C4;
  }

  .nav-link {
    margin: 10px 15px;
  }

  .dropdown-content {
    top: 156px;
    left: 57px;
  }

  .navbarr {
    padding: 5px 15px;
  }

  .search-input {
    width: 150px;
    padding: 7px 15px;
  }

  .search-button {
    padding: 7px 8px;

  }

  .logo {
    width: 90px;
  }

  .prod-card {
    width: 49%;
  }

  .slick-prev:before,
  .slick-next:before {
    font-size: 28px;
  }

  :where(.css-dev-only-do-not-override-1uq9j6g).ant-carousel .slick-next {
    inset-inline-end: 25px;
  }

  :where(.css-dev-only-do-not-override-1uq9j6g).ant-carousel .slick-prev {
    inset-inline-start: 8px;
  }

  .card-title {
    font-size: 17px;
    padding: 0px 12px;
  }

  .card-text {
    line-height: 1.2rem;
    padding: 0px 12px;

  }

  .card-btn-main {
    padding-left: 10px;
    padding-bottom: 20px;
  }

  .common-sm-title {
    line-height: 40px;
  }
}

@media only screen and (max-width: 602px) {
  .prod-card {
    width: 100%;
  }
}

@media only screen and (max-width: 552px) {
  .common-nav-right {
    font-size: 14px;
    padding: 5px 17px;

  }

  .cart-btn {
    margin-left: 6px;
  }

  .search-input {
    width: 130px;
  }

  .mt-top {
    margin-top: 134px;
  }

  .open-category {
    top: 105px;
  }
}